<html>
    <head>
        <title>Next Code Triathlon</title>
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/lib/lumen.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/challenges.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/javascripts/lib/knob/knob.js"></script>
        <script>
            const referer = "{{referer}}"
            const teamTotal = {{stats.total.score}}
            const username = "{{user.username}}"
            var stats = {{{json stats}}}
        </script>
    </head>
    <body>
        <div class="header">
            <ul class="topnav">
                <li id="scoreboard-tab"><a href="/scoreboard">Scoreboard</a></li>
                <li id="logout-tab"><a href="/logout">Logout</a></li>
            </ul>
        </div>

        <div class= "left">

            <div id="left-pane">
            <div id="rings-bar">
                <div class="ring ring-speed">
                    <input type="text" id="ring-speed" data-min="0" data-max="{{stats.speed.possible}}" value="{{stats.speed.score}}">
                </div>
                <div class="ring ring-puzzle">
                    <input type="text" id="ring-puzzle" data-min="0" data-max="{{stats.puzzle.possible}}" value="{{stats.puzzle.score}}">
                </div>
                <div class="ring ring-code">
                    <input type="text" id="ring-code" data-min="0" data-max="{{stats.code.possible}}" value="{{stats.code.score}}">
                </div>
            </div>

            <div class="panel-group" id="challenges">
                <!-- SPEED -->
                <div class="panel" id="panel-speed">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-target="#speed" 
                               href="#speed">
                              <strong>SPEED</strong>
                            </a>
                        </h4>
                    </div>
                    <div id="speed" class="panel-slide list-group">
                        <div class="panel-body">
                            {{#each speedChallenges}}
                                <a href="/challenge/{{this.id}}.nxt" class="speed list-group-item col-md-4 score-{{this.score}}">{{this.title}} <br>
                                    <span class="challenge-score score-{{this.score}}">[<strong><span class="team-score">{{this.score}}</span></strong> / {{this.maxScore}}]</span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <!-- PUZZLE -->
                <div class="panel" id="panel-puzzle">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#puzzle"
                       href="#puzzle">
                      <strong>PUZZLE</strong>
                    </a>
                  </h4>
                    </div>
                    <div id="puzzle" class="panel-slide list-group">
                        <div class="panel-body">
                            {{#each puzzleChallenges}}
                                <a href="/challenge/{{this.id}}.nxt" class="puzzle list-group-item col-md-4 score-{{this.score}}">{{this.title}} <br>
                                    <span class="challenge-score score-{{this.score}}">[<strong><span class="team-score">{{this.score}}</span></strong> / {{this.maxScore}}]</span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <!-- CODE -->
                <div class="panel" id="panel-code">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#code"
                       href="#code">
                      <strong>CODE</strong>
                    </a>
                  </h4>
                    </div>
                    <div id="code" class="panel-slide list-group">
                        <div class="panel-body">
                            {{#each codeChallenges}}
                                <a href="/challenge/{{this.id}}.nxt" class="code list-group-item col-md-4 score-{{this.score}}">{{this.title}} <br> 
                                    <span class="challenge-score score-{{this.score}}">[<strong><span class="team-score">{{this.score}}</span></strong> / {{this.maxScore}}]</span>
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="right">
        <iframe id = "scoreboard-frame">
        </iframe>
    </div>


    <div id="center-pane">
        <h2><strong><small>TEAM</small> {{user.username}}</strong></h2>
        <div id="score-display">
            <strong><span id="team-score" class="score-{{stats.total.score}}">0000</span></strong><span id="total-score"> / 2020 </span>
        </div>
    </div>

    <script src="/javascripts/challenges.js"></script>
    <script src="/javascripts/main.js"></script>

    </body>

</html>
