<html>
    <head>
        <title>Next Code Golf Problems</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <h1>Next Code Golf Problems</h1>

        <p>User: {{user.username}}</p>
        <p><a href="/scoreboard">Scoreboard</a></p>
        <p><a href="/logout">Logout</a></p>

        <div class="left-half">
            <h3>Algorithmic Problems</h3>
            {{#each algProblems}}
            <p>
            <span><a href="/submit?problem={{this.name}}">{{this.name}}</a></span>
            <span class="score-{{this.score}}">Score: {{this.score}}</span>
            </p>
            {{/each}}
        </div>
        <div class="right-half">
            <h3>Challenge Problems</h3>
            {{#each chalProblems}}
            <p>
            <span><a href="/submit?problem={{this.name}}">{{this.name}}</a></span>
            <span class="score-{{this.score}}">Score: {{this.score}}</span>
            </p>
            {{/each}}
        </div>
    </body>
    <script>
        $('.score-unsolved').remove();
    </script>
</html>
