<html>
    <head>
        <title>Next Code REX 2015</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/lib/lumen.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/{{this.type}}.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/puzzles/{{challenge.id}}.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/javascripts/lib/bootstrap/bootstrap.min.js"></script>
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/{{this.type}}.js"></script>
        <script src="/javascripts/lib/three/three.min.js"></script>
        <script>
                const challengeId = "{{challenge.id}}"
                const previousScore = {{previousScore}}
        </script>
    </head>
    <body>
        <div class="header">
            <a href="/challenges"><span class="circle">NC</span></a>
            <div class="appname">
                <a href="/challenges">Next Code REX</a>
            </div>
            <ul class="topnav">
                <li class="greeting">{{user.username}}</li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/scoreboard">Scoreboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <div class="prettybar"></div>
        </div>

        <div class="container">

            <div id="left-pane">

                <div id="instructions" class="panel panel-primary">
                    <div class="panel-heading">Your Challenge</div>
                    <div id="instruction-panel" class="panel-body">
                            {{#each challenge.instruction}}
                                <li>{{this}}</li>
                            {{/each}}
                    </div>
                </div>

                <div id="score-display" class="panel">
                    <h3>COMPLETION SCORE</h3>
                    <div id="max-score" class="stat-num">{{challenge.maxScore}}</div>
                    {{#if previousScore}}
                    <h3>SOLUTION</h3>
                    <div id="solution" class="stat-num">{{challenge.judge}}</div>
                </div>
                    {{else}}
                </div>
                <div id="submit-box">
                    <div class="input-group">
                      <input id="input" type="text" class="form-control" placeholder="solution">
                    </div>            
                </div>
                    {{/if}}

            </div>

            <div id="right-pane">
                <h1 class="challenge-title">{{challenge.title}}</h1>

                <div id="alerts">
                </div>

                <div id="interactive">
                </div>
            </div>

            {{#if this.detail.url}}
            <object data="{{this.detail.url}}" type="application/pdf" width="90%" height="75%">
                <p>It appears you don't have a PDF plugin for this browser.
                No biggie... you can <a href="{{this.detail.url}}">click here to
                download the puzzle.</a></p>
            </object>
            {{/if}}
        </div>
    </body>
</html>