<html>
    <head>
        <title>Next Code Golf Signup</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <form method="post" action="/register">
            <h1>Next Code Golf Signup</h1>
            <p>Username: <input type="text" class="username" name="username"></p>
            <p>Password: <input type="password" name="password"></p>
            <p>Re-enter Password: <input type="password" name="password-confirm"></p>
            <input type="submit" value="login">
        </form>
    </body>
</html>

