<html>
    <head>
        <title>Next Code Triathlon Rankings</title>
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/lib/lumen.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/scoreboard.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script async src="/javascripts/lib/knob/knob.js"></script>
        <script>
            const referer = "{{referer}}"
            const username = "{{user.username}}"
            var maxScores = {{{json maxScores}}}
        </script>
        <script async src="/javascripts/lib/firebase.js"></script>
    </head>
    <body>
        <div class="header">
            <ul class="topnav">
                <li class="greeting"><a>TEAM {{user.username}}</a></li>
                <li><a href="/challenges">Challenges</a></li>
            </ul>
        </div>
        <div class="container">

            <h2><strong><span class="year"><small>2015</small></span> NextCode Triathlon</strong></h2>
            <br>
            
            <div class="scoreboard-container">
                {{#each globalScoreboard}}
                <div class="stats-item col-md-4 rank-{{inc @index}} score-{{this.score.total}}" id="stats-{{this.username}}">
                    <span class="shine-effect"></span>
                    <div class="stats-top"><strong><span class="team-rank">{{inc @index}} </span></strong><span class="team-name">{{this.username}}</span></div>
                    <div class="ring-set" id="ring-{{this.username}}">
                        <div class="speed-container">
                            <input type="text" class="ring ring-speed" data-min="0" data-max="{{maxScores.speed}}" value="{{this.score.speed}}">
                        </div>
                        <div class="puzzle-container">
                            <input type="text" class="ring ring-puzzle" data-min="0" data-max="{{maxScores.puzzle}}" value="{{this.score.puzzle}}">
                        </div>
                        <div class="code-container">
                            <input type="text" class="ring ring-code" data-min="0" data-max="{{maxScores.code}}" value="{{this.score.code}}">
                        </div>
                    </div>
                    <div class="total-score"><strong><span class="team-score">{{this.score.total}}</span></strong> / 2019</div>
                </div>
                {{/each}}
            </div>
            
        </div>
        <script src="/javascripts/scoreboard.js"></script>
        <script src="/javascripts/main.js"></script>
    </body>
</html>

