<html>
    <head>
        <title>Next Code Golf Scoreboard</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/lib/lumen.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/scoreboard.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/javascripts/lib/bootstrap/bootstrap.min.js"></script>
        <script src="/javascripts/lib/knob/knob.js"></script>
        <script src="/javascripts/main.js"></script>
        <script>
            var maxScores = {{{json maxScores}}}
        </script>
        <script src="/javascripts/scoreboard.js"></script>
    </head>
    <body>
        <div class="header">
            <a href="/challenges"><span class="circle">NC</span></a>
            <div class="appname">
                <a href="/challenges">Next Code REX</a>
            </div>
            <ul class="topnav">
                <li class="greeting">{{user.username}}</li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/scoreboard">Scoreboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <div class="prettybar"></div>
        </div>
        <div class="container">


            {{#each globalScoreboard}}
            <div class="stats-item" id="stats-{{this.username}}">
                <div class="team-name"><span class="team-name">{{this.username}}</span></div>
                <div class="ring-set" id="ring-{{this.username}}">
                    <div>
                        <input type="text" class="ring ring-speed" data-min="0" data-max="{{maxScores.speed}}" value="{{this.score.speed}}">
                    </div>
                    <div>
                        <input type="text" class="ring ring-code" data-min="0" data-max="{{maxScores.code}}" value="{{this.score.code}}">
                    </div>
                    <div>
                        <input type="text" class="ring ring-puzzle" data-min="0" data-max="{{maxScores.puzzle}}" value="{{this.score.puzzle}}">
                    </div>
                </div>
                <div class="total-score"> <span class="team-score">{{this.score.total}}</span> / 2019</div>
            </div>
            {{/each}}

           <!-- <h1>Next Code REX Scoreboard</h1>

            <table class=
            "table table-striped table-bordered table-hover table-responsive" id=
            "scoreboard">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Total Score</th>
                        <th>Speed Score</th>
                        <th>Coding Score</th>
                        <th>Puzzle Score</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each globalScoreboard}}
                    <tr>
                        <td>{{this.username}}</td>
                        <td>{{this.score.total}}</td>
                        <td>{{this.score.speed}}</td>
                        <td>{{this.score.code}}</td>
                        <td>{{this.score.puzzle}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table> -->
            
        </div>
    </body>
</html>

