<html>
    <head>
        <title>Next Code Triathlon</title>
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/lib/lumen.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/{{this.type}}.css">
        <script>const challengeId = "{{challenge.id}}";
                const targetString = "{{challenge.detail.passage}}";
                const timeLimit = {{challenge.detail.timeLimit}};
                const maxScore = {{challenge.maxScore}};
                var previousScore = {{previousScore}};
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
        <script src="/javascripts/lib/bootstrap/bootstrap.min.js"></script>
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/{{this.type}}.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="appname">
                <strong><a href="/challenges">2016 Nextcode Triathlon</a></strong>
            </div>
            <ul class="topnav">
                <li class="greeting"><strong>Team {{user.username}}</strong></li>
                <li><a href="/challenges">Challenges</a></li>
                <li><a href="/scoreboard">Scoreboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <div class="prettybar"></div>
        </div>

        <div class="container">
            <div id="left-pane">
                <div id="instructions" class="panel panel-primary">
                    <div class="panel-heading">Your Challenge</div>
                    <div id="instruction-panel" class="panel-body">
                        Press START, and type the passage as quickly as possible!
                        <br>
                        You have <strong>{{challenge.detail.timeLimit}} seconds</strong>.
                    </div>
                </div>

                <div id="score-display" class="panel">
                    <h3>BEST SCORE</h3>
                    <div id="best-score" class="stat-num">{{previousScore}}</div>

                    <h3>COMPLETION SCORE</h3>
                    <div id="max-score" class="stat-num">{{challenge.maxScore}}</div>
                </div>    

                <div class="timer panel" style="width:100%;" data-bind="visible: challenging()">
                    <div class="input-progress panel"></div>
                    <div class="timer-progress panel"></div>
                </div>
            </div>
            <div id="right-pane">
                <div id="alerts">
                </div>
                <h1 class="challenge-title">{{challenge.title}}</h1>
                <div data-bind="if: !challenging()">
                    <button class="btn btn-lg btn-success" data-bind="click: startChallenge">Tap SPACE to Start</button>
                </div>    
                <div id="passage" data-bind="if: challenging()">
                    <div data-bind="foreach: targetWords" class="panel interactive">
                        <span data-bind="text: $data + ' ', css: {'chosen': $index() == $parent.index()}"></span>
                    </div>
                    <input id="input" type="text" data-bind="event: {keydown: validate}, textInput: inputText"/>
                </div>   
            </div>     
        </div>

    </body>

</html>