table {
    text-align: center;
    border-spacing: 0px;
}

td {
    background: white;
    vertical-align: top;
    display: table-cell;
    text-align: center !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 3.0vh;
    height: 3.0vh;
    background-image: url('/images/empty.jpg');
    background-size: 2.8vh 2.8vh;
    font-size: 2.5vh !important;
    line-height: 3.0vh !important;
    border: 2px solid rgba(45, 45, 46, 0.5) !important;
}

td.constraint {
    width: 2.5vh;
    height: 1.0vh;
    padding: 1.0vh;
    font-size: 2.0vh !important;
    border: none !important;
}

td.big {
    font-size: 3.25vh !important;
}

td.fill {
    background-image: url('/images/block.jpg');
}

td.hover {
    background-image: url('/images/block_alpha.png');
    /*background-color: rgba(130, 0, 0, 0.5) !important;*/
}
