.container {
    width: 95% !important;
}

#right-pane {
    width: 65% !important;
}

#left-pane {
    width: 30% !important;
}

#interactive{
	display: none;
}

canvas {
	margin: 0 !important;
	padding: 0 !important;
}

#slider {
	opacity: 0.8;
	border: solid #333 4px;
}