/* CSS for code challenges */

@font-face {
    font-family: agencyFB;
    src: url('/fonts/AgencyFB.ttf');
}

body {
    background-color: #f8f8f8;
    background-image: url("/images/ring_logo_5.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center;
}

.panel-primary>.panel-heading {
    background-color: #464545;
    font-family: agencyFB;
}

#left-pane {
    float: left;
    height: 100%;
    width: 40%;
    display: inline-block;
    margin: 10px;
    border: #333 3px !important;
}
#right-pane {
    float: right;
    height: 100%;
    width: 55%;
    display: inline-block;
    margin: 10px;
    border: #333 3px !important;
}
@media (max-width: 1050px) {
    #left-pane {
        width: 275px;
    }
}
@media (max-width: 900px) {
    #left-pane {
        display: none;
    }
    #right-pane {
        width: 90%;
    }
}
#editor,
.ace_editor {
    height: 60%;
    width: 100%;
    min-width: 400px;
    max-width: 750px;
    font-size: 12pt;
    margin-top: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    border-width: 2px 1px 4px 1px;
}
.ace_content {
    background-size: 90% 85%;
    background-image: url("/images/editor_bg.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px !important;
}
.ace_gutter {
    margin-top: 10px !important;
}
.btn-group button {
    font-size: 1.2vw;
    margin-right: 15px;
    font-family: agencyFB;
}
.challenge-title {
    text-align: center;
    font-family: agencyFB;
    margin-bottom: 20px;
    color: #333;
}
#rules {
    font-size: 12pt;
    font-family: agencyFB;
}
#scorebar {
    background-color: #FFFFFF;
    max-width: 750px;
    margin: 4px 0px 10px 0px;
    border: 1px solid #e7e7e7;
    border-width: 0 1px 4px 1px;
    border-radius: 4px;
    font-family: agencyFB;
}
#scorebar ul {
    display: inline;
    display: inline-flex;
    text-align: center;
}
#scorebar ul li {
    margin: 0px 16px;
}
#scorebar ul li h3 {
    font-size: 1.4vmax;
    font-weight: 500;
    margin-bottom: 2px;
    color: #ccc;
    text-transform: uppercase;
}
#alerts {
    font-family: agencyFB;
    max-width: 750px;
    font-size: 150%;
}
ul li .stat-num {
    color: #333;
    font-size: 3.4vmax;
}
#team-score {
    color: #375a7f;
}
.golf {
    color: #666666;
}
.max {
    color: #00bc8c;
}
.complete {
    background-color: #00bc8c !important;
    opacity: 0.45; 
}
.inactive,
.incomplete {
    opacity: 0.5;
}
.progress {
    margin-top: 10px;
    display: none;
}
button:focus,
button:active {
    border: none;
    outline: none;
}
pre {
    font-size: 10pt;
}
v {
   white-space: nowrap;
   font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
