/* CSS for puzzle challenges */

@font-face {
    font-family: agencyFB;
    src: url('/fonts/AgencyFB.ttf');
}

body {
    background-color: #f8f8f8;
    background-image: url("/images/ring_logo_5.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center;
    font-family: agencyFB;
    font-size: 180%;
}

.header {
    font-size: 20px;
    background-color: rgba(231, 76, 60, 0.9);
}

.panel-primary>.panel-heading {
    background-color: #464545;
}

#left-pane {
    float: left;
    height: 100%;
    width: 35%;
    max-width: 500px !important;
    display: inline-block;
    margin: 10px;
}

#right-pane {
    float: right;
    height: 100%;
    width: 60%;
    min-width: 600px !important;
    display: inline-block;
    margin: 10px;
}

@media (max-width: 1172px) {
    #left-pane {
        width: 250px;
    }
}

@media (max-width: 950px) {
    #left-pane {
        display: none;
    }
}

.challenge-title {
    margin-bottom: 20px;
    text-align: center;
}

#alerts {
    font-family: agencyFB;
    font-size: 130%;
}

.alert {
    text-align: center;
}

#instructions {
    margin-top: 28px;
    max-width: 600px;
}

#interactive {
    height: auto !important;
    background-color: #FFFFFF;
    min-width: 500px;
    text-align: center;
    margin-top: 10px;
    padding: 20px 5px 25px 5px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    border-width: 0 1px 4px 1px;
}

#interactive>table {
    margin: auto;
}

#score-display {
    padding: 1px 0 0 15px;
}

#input {
    font-size: 125%;
    margin-top: 10px;
    min-width: 250px;
    max-width: 500px;
}

#input:focus {
    border: none;
    outline: none;
}

#score-display h3 {
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 2px;
    color: #ccc;
    text-transform: uppercase;
}

.stat-num {
    color: #333;
    font-size: 5.0vw;
}

.max,
.green {
    white-space: nowrap;
    color: #00bc8c !important;
}

a {
    white-space: nowrap;
}

table {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
