@font-face {
    font-family: agencyFB;
    src: url('/fonts/AgencyFB.ttf');
    src: url('/fonts/AgencyFB.eot');
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgba(51, 181, 229, 0.2);
    font-family: agencyFB;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: -9999;
    left: 0;
    right: 0;
    opacity: 0.4;
    /* -webkit-animation: fadein 1.8s;
    animation: fadein 1.8s; */
    background: url("/images/ring_logo_5.png") center center;
}

@keyframes fadein {
    from {
        opacity: 0.01;
    }
    to {
        opacity: 0.4;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0.01;
    }
    to {
        opacity: 0.4;
    }
}

.header {
    background: none;
}

.header ul {
    left: 50%;
}

.header ul li {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

h1,
h2 {
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 64px;
}

​.container {
    text-align: center;
    width: 100%;
}

.stats-item {
    background-color: white;
    text-align: center;
    visibility: hidden;
    width: 30%;
    min-width: 360px;
    margin: 15px 8px;
    border-width: 0 1px 4px 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.5;
    overflow: hidden;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.stats-item:hover,
.stats-item.me {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.stats-item.me .ring-set,
.stats-item:hover .ring-set {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.stats-item.rank-3 {
    border-color: rgba(140, 82, 50, 0.7);
    background-color: rgba(150, 90, 56, 0.75);
}

.stats-item.rank-2 {
    border-color: rgba(180, 190, 194, 0.8);
    background-color: rgba(188, 198, 204, 0.75);
}

.stats-item.rank-1,
.stats-item.score-2019 {
    border-color: rgba(205, 158, 60, 0.8);
    background-color: rgba(217, 164, 65, 0.75);
}

.stats-item.score-0 {
    border-color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.8);
}

.ring-set {
    max-width: 235px;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    margin: 12px 0 12px -30px;
}

.stats-top {
    margin-bottom: 12px;
}

.total-score {
    margin-top: -5px;
}

.ring-set .puzzle-container {
    margin-top: -20px;
}

.ring-set .speed-container,
.ring-set .code-container {
    margin-top: 20px;
}

.team-rank {
    color: #375a7f;
    font-size: 32px;
}

.team-name {
    text-transform: uppercase;
    color: #333;
    font-size: 42px;
}

.total-score {
    color: #333;
    font-size: 32px;
}

.team-score {
    color: #375a7f;
    font-size: 48px;
}

@media (max-width: 1280px) {
    .stats-item {
        min-width: 300px;
    }
    .ring-set {
        max-width: 175px;
        margin: 6px 0 6px -40px;
    }
}

@media (max-width: 961px) {
    .scoreboard-container {
        margin-left: 50%;
        width: 100%;
    }
    .stats-top {
        margin-bottom: 15px;
    }
    .stats-item {
        width: 160px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 50%;
        border-width: 3px;
        box-shadow: 3px 3px 6px #888;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }
    .ring-set {
        width: 90px;
    }
    .ring-set .puzzle-container {
        margin-top: -25px;
    }
    .ring-set .speed-container,
    .ring-set .code-container {
        margin-top: 25px;
    }
}

@media (max-width: 500px) {
    .stats.item {
        width: 100px;
    }
    .ring-set {
        margin: 12px 0 12px -25px;
        width: 78px;
    }
    .ring-set .puzzle-container {
        margin-top: -15px;
    }
    .ring-set .speed-container,
    .ring-set .code-container {
        margin-top: 15px;
    }
    .total-score {
        margin-top: 0;
    }
    .team-rank {
        font-size: 24px;
    }
    .team-name {
        font-size: 28px;
    }
    .total-score {
        font-size: 24px;
    }
    .team-score {
        font-size: 32px;
    }
}
