@font-face {
    font-family: agencyFB;
    src: url('/fonts/AgencyFB.ttf');
}

body {
    background-color: #f8f8f8;
    background-image: url("/images/ring_logo_5.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: center;
    font-family: agencyFB;
    font-size: 180%;
}

.challenge-title {
    font-weight: 700;
}

.header {
    font-size: 20px;
    background-color: rgba(0, 188, 140, 0.9);
}

.panel-primary>.panel-heading {
    background-color: #464545;
}

#left-pane {
    float: left;
    height: 100%;
    width: 35%;
    max-width: 500px !important;
    display: inline-block;
    margin: 10px;
}

#right-pane {
    float: right;
    height: 100%;
    width: 60%;
    min-width: 600px !important;
    display: inline-block;
    margin: 10px;
}

#right-pane div {
    text-align: center;
}

#right-pane #passage div {
    padding: 5px 10px;
}

@media (max-width: 1172px) {
    #left-pane {
        width: 250px;
    }
}

@media (max-width: 950px) {
    #left-pane {
        display: none;
    }
}

.challenge-title {
    margin-bottom: 20px;
    text-align: center;
}

#alerts {
    font-family: agencyFB;
    font-size: 130%;
}

.alert {
    text-align: center;
}

#instructions {
    margin-top: 28px;
    max-width: 600px;
}

#score-display {
    padding: 1px 0 0 15px;
}

#input.invalid {
    background-color: rgba(231, 76, 60, 0.5);
}

#score-display h3 {
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 2px;
    color: #ccc;
    text-transform: uppercase;
}

.stat-num {
    color: #333;
    font-size: 5.0vw;
}

.max,
.green {
    white-space: nowrap;
    color: #00bc8c !important;
}

#best-score {
    color: #375a7f;
}

a {
    white-space: nowrap;
}

.timer {
  height: 65px;
}

.timer-progress {
  background-color: #e74c3c;
  height: 65px;
  width: 0;
}

.input-progress {
  position: absolute;
  background-color: #00bc8c;
  height: 65px;
  width: 0;
}

.interactive {
    font-size: 28px;
}

button.btn-success{
    font-size: 1.2vw;
    font-family: agencyFB;
}